
<form *ngIf="called"
    [formGroup]="editform"
    (ngSubmit)="onEditItemSend(editform.value)">
    <ul>
        <li>
            <label for="name">Name    </label>
            <input type="text" name="name" id="name" formControlName="Name">
            <div *ngIf="editform.get('Name').hasError('Name')" class="error">Name is Too Short, Must contain more than 2 characters</div>
            <div *ngIf="!editform.get('Name').hasError('Name')"><p> </p></div>
        </li>
        <li>
            <label for="ostype">OsType   </label>
            <select name="ostype" id="ostype" formControlName="OsType">
                <option *ngFor="let Os of lookupLists.OsTypes" [value]="Os">{{Os}}</option>
                
            </select>
            <div><p> </p></div>
        </li>
        <li>
            <label for="battery">Battery  </label>
            <select name="battery" id="battery" formControlName="Battery">
                <option *ngFor="let level of lookupLists.BatteryLevels" [value]="level">{{level}}</option>
                
            </select>
            <div><p> </p></div>
        </li>
        <li>
            <label for="memory">Memory    </label>
            <select name="memory" id="memory" formControlName="Memory">
                
                <option *ngFor="let Available of lookupLists.MemoryAvailable" [value]="Available">{{Available}}</option>
            </select>
            <div><p> </p></div>
        </li>
    </ul>
    <button type="submit" [disabled]="!editform.valid"> Save </button>
</form>