<h2>{{ deviceItem.Name | uppercase}}</h2>
<div *ngIf="deviceItem.OsType">OsType: {{deviceItem.OsType}}</div>
<div *ngIf="!deviceItem.OsType">OsType: Unavailable</div>
<div *ngIf="deviceItem.Battery">Battery: {{deviceItem.Battery}}</div>
<div *ngIf="!deviceItem.Battery">Battery: Unavailable</div>
<div *ngIf="deviceItem.Memory">Memory: {{deviceItem.Memory}}</div>
<div *ngIf="!deviceItem.Memory">Memory: Unavailable</div>
<div class="tools">
  
  <a (click)="onDelete()" class="delete">
    Delete
  </a>
  <a (click)="onEdit()" class="details">
    Edit
  </a>
</div>